html {
    background-color: white;

}

body {
    background-color: #d9d9d9;
    color: #404040;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: white;
    height: 130px;
}

.logo_flex {
    display: flex;
}

.logo_image > a > img {
    height: 130px;
    width: 130px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
}

.mindex {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
    text-align: center;
}

.msignup {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
    border-radius: 20px;
    border: 2px solid #404040;
    background-color: #b8b8b8;
}

section {
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}

footer {
    background-color: #4d7022;
    font-size: 0.7em;
    text-align: center;
    color: #fff9e8;
    padding: 16px;
    margin-top: 32px;
}

footer a:link {
    color: #fff9e8;
}

a:hover {
    color: #e8fff9;
}

figure {
    margin: 0;
}

.snav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.snav>li {
    padding: 3px;
}

.snav>li>a>img {
    height: 80px;
    width: 80px;
    overflow: hidden;
}

h1 {
    font-size: 50px;
    padding-left: 5px;
}

#primary_nav {
    justify-content: space-around;
    display: flex;
    height: 80px;
}
.primary_nav {
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

/* Every child must have 100% height and width to fit the navbar boxes */
#primary_nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.primary_nav > li {
    display: flex;
    flex-grow: 1;
    height: 100%;
    border-style: solid;
}
.pnav {
    background-color: #404040;
}
.pnav > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.welcome_left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.slider {
    width: 100%;
    height: 300px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 290px;
    position: absolute;
    top: 5px;
    left: 0;
    transition: 1s;
}

.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.slidernav {
    text-align: center;
    position: relative;
}

.selector {
    height: 15px;
    width: 15px;
    margin: 0 2px 0 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #4d7022;
}

.welcome {
    display: flex;
}

.goalsflex {
    display: flex;
    justify-content: center;
}

.goals {
    display: inline-block;
}

footer {
    text-align: center;
}

#goals {
    display: inline-block;
    align-self: center;
    width: 80%;
}

.pnav:hover {
    background-color: #505050;
    border-radius: 5px;
}

#sign_up {
    color: white;
    background-color: #a22a2a;
    max-width: 130px;
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
}

#sign_up:hover {
    background-color: #b54848;
}

#form {
    display: flex;
}

#wrapper {
    position: relative;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    border: none 0px;
}

label {
    font-size: small;
    display: block;
    width: 100%;
    margin: 1%;
}

legend {
    padding: 5px;
    font-size: medium;
    word-spacing: 4px;
}

#fname {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: white;
}

#lname {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: white;
}

#email {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: white;
}

/* #topics {
    display: block;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
} */

.textinput:hover {
    border: 1px solid #5b5b5b;
}

#submit{
    color: white;
    background-color: #a22a2a;
    max-width: 130px;
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    align-self: center;
}

#submit:hover {
    background-color: #b54848;
}

.checkboxlabel{
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
}

.checkboxlabel input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #999999;
    border-radius: 3px;
}

.checkboxlabel:hover input ~ .checkmark {
    background-color: white;
    border: 1px solid #5b5b5b;
    border-radius: 3px;
}

.checkboxlabel input:checked ~ .checkmark {
    background-color: #6da727;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxlabel input:checked ~ .checkmark:after {
    display:block;
}

.container .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;

}