/* General */

html {
    background-color: white;

}

body {
    background-color: #d9d9d9;
    color: #404040;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
    padding-left: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
}

section {
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
}

.welcome_left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
}

.selector {
    height: 15px;
    width: 15px;
    margin: 0 2px 0 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.welcome {
    display: flex;
}

/* Header */

header {
    background-color: white;
    height: 130px;
}

.logo_flex {
    display: flex;
}

.logo_image > a > img {
    height: 130px;
    width: 130px;
}

/* Anchor Tags */

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
}
   
.box > h2 > a:hover {
    color: #a0a0a0;
}

/* Main */

.mindex {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
    text-align: center;
}

.mgoals {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 16px;
    display: inline-block;
}

.mteaminformation {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
}

.msignup {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
    border-radius: 20px;
    border: 2px solid #404040;
    background-color: #b8b8b8;
}

/* Footer */

footer {
    background-color: #4d7022;
    font-size: 0.7em;
    text-align: center;
    color: #fff9e8;
    padding: 16px;
    margin-top: 32px;
}

footer a:link {
    color: #fff9e8;
}

footer a:hover {
    color: #a0a0a0;
}

/* Navigation Bar */

.snav {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.snav>li {
    padding: 3px;
}

.snav>li>a>img {
    height: 80px;
    width: 80px;
    overflow: hidden;
}

#primary_nav {
    justify-content: space-around;
    display: flex;
    height: 80px;
}
.primary_nav {
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

/* Every child must have 100% height and width to fit the navbar boxes */
#primary_nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.primary_nav > li {
    display: flex;
    flex-grow: 1;
    height: 100%;
    border-style: solid;
}
.pnav {
    background-color: #404040;
    transition: all .2s ease-in-out;
}
.pnav > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pnav:hover {
    background-color: #505050;
    border-radius: 5px;
    transform: scale(1.1);
}

.active {
    background-color: #4d7022;
    transition: all .2s ease-in-out;
}

.active:hover {
    background-color: #4d7022;
    transform: scale(1.1);
}

.showNav {
    width: 150px;
    display: flex !important;
    float: right;
}

/* Slider */

.slider {
    width: 100%;
    height: 300px;
    position: relative;
}

.slider img {
    width: 100%;
    height: 290px;
    position: absolute;
    top: 5px;
    left: 0;
    transition: 1s;
}

.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.slidernav {
    text-align: center;
    position: relative;
}

/* Goals on index */

.goals {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-self: center;
    justify-content: center;
    width: 90%;
}

.goal {

    height: 500px;
    width: 300px;
    color: white;   
    display:inline-block;
    /* padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px; */
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    text-align: center;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.goal:hover {
    transform: scale(1.2);
}
.goal > figcaption{
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 11px;
    margin-right: 11px;
}

.goal > img{
    margin: none;
    padding: none;
}

#goal1{
    background-color: #4d7022;
}

#goal2{
    background-color: #1f3781;
}

#goal3{
    background-color: #a22a2a;
}

/* goals pages */

#imgandbox1 {
    display: flex;
    flex-direction: row;
}

#imgandbox2 {
    display: flex;
    flex-direction: row;
}

.pagebox{
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    margin: 5px;
    color: white;
    height:auto;
    width: 33%;
    text-align: left;
    align-items: left;
}

#pagebox1{
    background-color: #4d7022;
}

#pagebox2{
    background-color: #1f3781;
}

#pagebox3{
    background-color: #a22a2a;
}

.goalsimage1 {
    height: auto;
    width: 67%;
    margin: 5px;
    object-fit: cover;
}

#imgandbox2 > img {
    height: auto;
    width: 43%;
    margin: 5px;
}

#imgandbox2 > p {
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    margin: 5px;
    color: #404040;
    height:auto;
    width: 58%;
    text-align: left;
    border: 2px solid #404040;
}

#charityheader {
    text-align: center;
    color: #404040;
    padding-top: 20px;
}

.charities {
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 90%;
}

.charity {
    height: 150px;
    width: 400px;
    color: white;   
    display:inline-block;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
}

#charity1{
    background-color: #365314;
}

#charity2{
    background-color: #4d7022;
}

#charity3{
    background-color: #70ad25;
}

#charity4{
    background-color: #132763;
}

#charity5{
    background-color: #1f3781;
}

#charity6{
    background-color: #2b54cf;
}

#charity7{
    background-color: #711818;
}

#charity8{
    background-color: #a22a2a;
}

#charity9{
    background-color: #e12929;
}

/* Sign up page */

#sign_up {
    color: white;
    background-color: #a22a2a;
    max-width: 130px;
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
}

#sign_up:hover {
    background-color: #b54848;
}

#form {
    display: flex;
}

#wrapper {
    position: relative;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    border: none 0px;
}

label {
    font-size: small;
    display: block;
    width: 100%;
    margin: 1%;
}

legend {
    padding: 5px;
    font-size: medium;
    word-spacing: 4px;
}

#fname {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: white;
}

#lname {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: white;
}

#email {
    display: block;
    width: 60%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    background-color: white;
}

#fname:hover {
    background-color: white;
    border: 1px solid #5b5b5b;
    border-radius: 3px; 
}

#lname:hover {
    background-color: white;
    border: 1px solid #5b5b5b;
    border-radius: 3px; 
}

#email:hover {
    background-color: white;
    border: 1px solid #5b5b5b;
    border-radius: 3px; 
}

.textinput:hover {
    border: 1px solid #5b5b5b;
}

#submit{
    color: white;
    background-color: #a22a2a;
    max-width: 130px;
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    align-self: center;
}

#submit:hover {
    background-color: #b54848;
}

.checkboxlabel{
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
}

/* makes input bock for checkbox invisible but still functionable */
.checkboxlabel input{
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #999999;
    border-radius: 3px;
}

.checkboxlabel:hover input ~ .checkmark {
    background-color: white;
    border: 1px solid #5b5b5b;
    border-radius: 3px;
}

.checkboxlabel input:checked ~ .checkmark {
    background-color: #6da727;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxlabel input:checked ~ .checkmark:after {
    display:block;
}

.container .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;

}

/* Team information Page */

.profileimage{
    object-fit: contain;
    width: 95%;
    height: 300px;
}

.profiles {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-self: center;
}

.box{
    min-height: 700px;
    height:auto;
    color: white;   
    display:inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.box > p{
 text-align: left;
 margin-left: 10px;
}

#abox{
    background-color: #4d7022;
}

#rbox{
    background-color: #1f3781;
}

#sbox{
    background-color: #a22a2a;
}

/* Media Query */

@media only screen and (max-width: 768px){

    
}

#hamburger {
    display: none;
}



@media only screen and (max-width:768px) {
    header {
        width: 100%;

    }

    .logo_flex {
        width: 100%;
    }

    h1 {
        padding-left: 35px;
        display: inline-block;
        line-height: 50%;
        /* display: none; */

    }

    #hamburger {
        display: block;
        float: right;
        height: 60%;
        background-color: #4d7022;
        padding-top: 55px;
        margin-left: auto;
    }

    header {
        height: 130px;
        display: flex;
    }

    #wrapper {
        position: relative;
    }

    .logo_image {
        height: 130px;
        width: 100px;
    }


    #primary_nav {
        display: none;
    }

    .slider {
        display: none;
    }

    .slidernav {
        display: none;
    }

    .primary_nav {
        z-index: 1;
        right: 10px;
        top: 20px;

    }

    section {
        display: flex;
        flex-wrap: wrap;
    }


    .goalsflex {
        display: flex;
        flex-wrap: wrap;
    }

    .profiles {
        display: flex;
        flex-wrap: wrap;
    }

}
